# {{ page.my_title }} / {{ site.pages | size | minus: 5 }}

{% highlight html %}
{% raw %}
some code
{% endraw %}
{% endhighlight %}

{%- comment -%}
  This is a simplified version of navigation code used in just-the-docs@v0.3.3.
{%- endcomment -%}

{%- assign groups = site.pages | group_by_exp:"item", "item.my_title" -%}

{%- assign sorted_groups = groups | sort_natural: "name" -%}

{%- assign sorted_pages = "" | split:"X" -%}
{%- for group in sorted_groups -%}
  {%- assign sorted_pages = sorted_pages | concat: group.items -%}
{%- endfor -%}
